<div class="main-container">
    <div class="content">
      <p class="text">
        Create your resume
      </p>

      <button class="btn" (click)="openForm()">Click here</button>

      <!-- <button class="btn" (click)="submitLogin()">Continue as facebook user</button> -->
    </div>


    <!-- facebook login code starts -->
<!--     
    <div>
      <h4>About Me</h4>
      <div>

      <h2>{{user.name}}</h2>
      <h2>{{user.authToken}}</h2>
      </div>
      <h5>
        photo of me
      </h5>
      <div>
        <img src="{{user.photoUrl}}">
      </div>
      <button (click)="signIn()"> login with facebook</button>
    </div> -->

    <!-- facebook login code ends -->

  </div>